[Desktop Entry]
Comment=A modern Plasma Theme
Name=Glassy
X-KDE-PluginInfo-Author=Pr0cella
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-Name=Glassy
X-KDE-PluginInfo-Version=1.0.3
X-KDE-PluginInfo-Website=https://github.com/Pr0cella/Glassy-kde
X-Plasma-API=5.0
