[Desktop Entry]
Name=GlassyRounded
Comment=Transparent window decoration for Aurorae based on Freeze and rounded
X-KDE-PluginInfo-Name=Glassy
X-KDE-PluginInfo-Author=Varlesh, Pr0cella
X-KDE-PluginInfo-Category=Aurorae Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL V3
X-KDE-PluginInfo-EnabledByDefault=true
